[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy-redis = "*"
scrapy = "*"
scrapy-fake-useragent = "*"
peewee = "*"
pymysql = "*"
selenium = "*"

[requires]
python_version = "3.7"
