[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy-fake-useragent = "*"
peewee = "*"
pymysql = "*"
scrapy = "==1.5.1"
scrapy-redis = "*"

[requires]
python_version = "3.7"
